<div class="container">
  <mat-form-field class="search-query mat-h1" appearance="fill">
    <mat-label>Find images</mat-label>
    <input matInput placeholder="for example: never gonna give you up" (keyup)="onSearchQueryChange($event)" />
  </mat-form-field>
  <div class="result empty-result" *ngIf="!images?.length">
    No images here. Would you try to search for anything else?
  </div>
  <div class="result" *ngIf="images?.length">
    <div class="paginator">
      <mat-paginator
        [length]="total"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>

    <my-images-list
      [allowBookmarking]="true"
      [images]="preparedImages"
    ></my-images-list>

    <div class="paginator">
      <mat-paginator
        [length]="total"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
